.Header {
  text-align: left;
  background-color: grey;
  color: white;
  margin: 0px;
  padding: 10px;
}
  .Block {
  text-align: left;
  
  
  margin: 0px;
  padding: 140px;


}
.Item{
  display: flex;
  justify-content: center;
  padding: 130px;
  
 
}

.App {
  text-align: center;
  font-size: 20px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.App-link {
  color: #61dafb;
}

